.gallery-grid--modal {
  position: fixed;
  z-index: $z-index-modal;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
  background: #FDF1F1;

  &.is-shown {
    opacity: 1;
    visibility: visible;
  }

  .close-btn,
  .random-btn {
    position: absolute;
    top: 10px;
    padding: 0 0 5px;
    font-family: $ff-amatica;
    font-size: 2.5rem;
    font-weight: 700;
    color: $white;
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.5);
    background: none;
    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5));
    transition: all .3s ease-in-out;
    cursor: pointer;
    -webkit-appearance: none;
    z-index: 3;

    .no-touchevents & {

      &:hover {
        border-color: $white;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .close-btn {
    right: 10px;
  }

  .random-btn {
    left: 10px;
  }

  &[data-align="right"] {

    @include wider-than(tabletportrait) {

      .close-btn {
        filter: none;
        color: $black;
        border-color: $black-opa-5;

        .no-touchevents & {

          &:hover {
            border-color: $black;
            filter: none;
          }
        }
      }
    }
  }

  &[data-align="left"] {

    @include wider-than(tabletportrait) {

      .random-btn {
        filter: none;
        color: $black;
        border-color: $black-opa-5;

        .no-touchevents & {

          &:hover {
            border-color: $black;
            filter: none;
          }
        }
      }
    }
  }
}

.gallery-grid--modal-media {
  position: absolute;
  width: 65%;
  height: 100%;
  top: 0;
  transition: all .3s ease-out;
  opacity: 0;
  visibility: hidden;
  transition-delay: 0.2s;

  [data-align="right"] & {
    left: 0;
    transform: translate3d(-15px, 0, 0);

    &:after {
      right: -35vw;
      transform: skewX(10deg)
    }
  }

  [data-align="left"] & {
    right: 0;
    transform: translate3d(15px, 0, 0);

    &:after {
      left: -35vw;
      transform: skewX(-10deg)
    }
  }

  .gallery-grid--modal-content.is-shown & {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition-delay: 0;
  }

  img {
  }

  &:after {
    content: '';
    position: absolute;
    top: 0;
    width: 35vw;
    height: 100%;
    background: #FDF1F1;
    z-index: 1;
    transform-origin: bottom;
  }

  @include narrower-than(tabletportrait) {
    width: 100%;

    &:after {
      display: none;
    }
  }
}

.gallery-grid--modal-text {
  position: absolute;
  width: 35%;
  top: 50%;
  z-index: 2;
  transition: all .3s ease-out;
  opacity: 0;
  visibility: hidden;
  padding: 0 70px;

  [data-align="right"] & {
    right: 0;
    transform: skewX(5deg) translate3d(-15px, -50%, 0);
  }

  [data-align="left"] & {
    left: 0;
    transform: skewX(-5deg) translate3d(15px, -50%, 0);
  }

  .gallery-grid--modal-content.is-shown & {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, -50%, 0);
    transition-delay: 0.2s;
  }

  @include narrower-than(tabletportrait) {
    background: rgba(253, 241, 241, 0.8);
    top: auto;
    left: 0;
    width: 100%;
    bottom: 0;
    transform: none !important;
    padding: 10px 20px 0;
  }

  h2 {
    @extend .h3;
  }
}
