.header {}

.header--logo {
  position: fixed;
  max-width: 80%;
  width: #{197 * .5}px;
  height: #{154 * .5}px;
  top: 50px;
  right: 80px;
  transform: translate(50%, -50%);
  margin: 0;
  z-index: $z-index-header + 1;
  transition: all .3s ease-in-out;
  filter: drop-shadow(1px 1px 0 rgba(253, 241, 241, 0.5));

  .is-home & {
    width: #{197 * 2.5}px;
    height: #{154 * 2.5}px;
    top: 50%;
    right: 50%;
    pointer-events: none;
  }

  .is-home &,
  .is-gallery & {
    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5));

    path {
      fill: $white;
    }
  }

  .is-home .mobile-menu-open & {
    opacity: 0;
  }

  svg {
    width: 100%;
    height: 100%;
  }

  path {
    fill: $black;
  }

  @include narrower-than(tabletlandscape) {
    right: 45px;
    top: 40px;
    width: #{197 * .3}px;
    height: #{154 * .3}px;
  }
}

.header--nav {
  position: fixed;
  left: 66%;
  width: 50%;
  padding: 0 70px;
  z-index: $z-index-header;
  top: $header--height-large / 2;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: all .3s ease-in-out;

  .is-home & {
    left: 50%;
  }

  li {
    display: inline-block;
    margin-bottom: 5px;
  }

  @include narrower-than(tabletlandscape) {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: 100%;
    background: #FDF1F1;
    left: 0;
    top: 0;
    transform: none;
    padding: 0;

    ul {
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
    }

    li {
      display: block;
      margin-bottom: 3vh;
      opacity: 0;
      visibility: hidden;
      transition: all .3s ease-in-out;
      transition-delay: 0.3s;

      &:nth-of-type(odd) {
        transform: skewX(-5deg) translate3d(10%, 0, 0);
      }

      &:nth-of-type(even) {
        transform: skewX(5deg) translate3d(-10%, 0, 0);
      }
    }

    .is-home & {
      left: 0;
    }

    .mobile-menu-open & {
      opacity: 1;
      visibility: visible;

      li {
        opacity: 1;
        visibility: visible;
        transform: none;

        &:nth-of-type(1) {
          transition-delay: 0.3s;
        }

        &:nth-of-type(2) {
          transition-delay: 0.35s;
        }

        &:nth-of-type(3) {
          transition-delay: 0.4s;
        }

        &:nth-of-type(4) {
          transition-delay: 0.45s;
        }

        &:nth-of-type(5) {
          transition-delay: 0.5s;
        }
      }
    }
  }
}

.header--nav-item {
  text-decoration: none;
  color: $black;
  filter: drop-shadow(1px 1px 0 rgba(253, 241, 241, 0.5));
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  margin-right: 20px;
  font-family: $ff-amatica;
  font-size: 2.5rem;
  font-weight: 700;
  transition: all .3s ease-in-out;

  .is-home & {
    color: $white;
    border-color: transparent;
    filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5));

    .no-touchevents & {

      &:hover {
        border-bottom: 2px solid rgba(255, 255, 255, 0.7);
      }
    }
  }

  .is-home .mobile-menu-open & {
    color: $black;
    filter: none
  }

  .no-touchevents &:hover,
  &.is-active {
    border-bottom: 2px solid $black;
  }
}

.header--burger-btn {
  position: fixed;
  z-index: $z-index-header + 1;
  top: 20px;
  left: 20px;
  opacity: 0;
  visibility: hidden;
  cursor: pointer;
  overflow: hidden;

  width: 40px;
  height: 40px;

  .mobile-menu-open & {

    .label {
      transform: translate3d(0, -100%, 0);
    }
  }

  .label {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    transition: all .15s ease-in-out;
    line-height: 40px;
    font-family: $ff-amatica;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;

    &.label-open {
      color: $white;
      filter: drop-shadow(1px 1px 0 rgba(0, 0, 0, 0.5));
    }

    &.label-closed {
      color: $black;
      filter: drop-shadow(1px 1px 0 rgba(253, 241, 241, 0.5));
    }
  }

  @include narrower-than(tabletlandscape) {
    opacity: 1;
    visibility: visible;
  }

  @include narrower-than(tabletportrait) {
    top: 20px;
    left: 10px;
  }
}
