.page {
  position: relative;

  // @TODO - sort this
  margin-left: 41%;
  width: 50%;
  min-height: 500px;
  padding: 0 70px;
  margin-top: 120px;
  margin-bottom: 40px;

  opacity: 0;
  visibility: hidden;
  transform: skewX(-5deg) translate3d(-10%, 0, 0);
  transition: all .3s ease-out;

  &.is-animating-in {
    opacity: 1;
    visibility: visible;
    transform: none;
  }

  &.is-animating-out {
    opacity: 0;
    visibility: hidden;
    transform: skewX(-5deg) translate3d(10%, 0, 0);
  }

  @include narrower-than(tabletlandscape) {
    width: 60%;
    margin-left: 40%;
    padding: 0 40px;
    margin-top: $header--height-small;
    transform: translate3d(0, 5%, 0);

    &.is-animating-in {
      transform: none;
    }

    &.is-animating-out {
      transform: translate3d(0, -5%, 0);
    }
  }

  @include narrower-than(tabletportrait) {
    width: 84%;
    margin-left: 16%;
    padding: 0 20px;
  }
}

.page.page-home {}
