.faux-link-block {
  position: relative;
}

.faux-link-block--link {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  overflow: hidden;
  right: 0;
  text-indent: 200%;
  top: 0;
  visibility: visible;
  white-space: nowrap;
  z-index: $z-index-link;
}

.underline:not(.btn) {
  color: $grey-dark;
  display: inline;
  // padding-bottom: 2px;
  position: relative;
  text-decoration: none;
  border-bottom: 2px solid rgba($grey-dark, 0.5);

  .heading & {
    background-position: 0 85%;
  }

  .no-touchevents & {

    &:hover {
      opacity: 0.8;
      border-color: $grey-dark;
    }
  }
}

.no-underline {
  text-decoration: none;
}
